html{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: normal;
}

header{
    padding: 50px;
    background-color: #255EE9;
}

header>div.info-principali{
    display: flex;
    justify-content: space-between;
}

.info-principali{
    background-color: #255EE9;
}

.info-principali> .info-header{
    height: 50px;
    background-color:#255EE9;
    display:flex;
    color:white
}

.btn-accedi{
    width: 5%;
    border-radius:30px;
}


nav{
    height: 350px;
    justify-items: center;
    color:white;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.btn-nav{

}

.scarica{
    background-color: white;
    color: black;
    width: 40%;
    border-radius:30px;
}

.browser{
    background-color: black;
    color: white;
    width: 65%;
    border-radius:30px;
}




main{
    width:80%;
    margin: auto;
}

.container-80{
    display: flex;
    justify-content: space-between;
}

.text{
    flex-basis: 40%;
    height: 40px;
}

.img{
    flex-basis: 60%;
    height: 40px;
}

.container-big> div{
    display: flex;
    justify-content: center;
}

footer>div{
    display: flex;
    height: 350px;
    background-color: orange;
    justify-content: space-around;
}

.general-info>div{
    flex-direction: column;
}

.logo{
    display: flex;
    height: 60px;
    justify-content: space-between;
    background-color: brown;
}